body {
  background-color: bisque;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#title{
  text-align: center;
  font-size: 40px;
}

#container{
  background-color: rgb(190, 183, 183);
  height: 400px;
}